.stonk-graph {
    border: 2px solid gray;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.search-container {
    width: 30%;
}

.search-table {
    width: 30%;
    display: table;
    position: absolute; 
    z-index: 10;
}

.search-row {
    width : 100%;
}

.exchange {
    color: gray;
    text-align: right;
    font-style: italic;
}

.tab-content {
    width: 100%;
}